openapi: 3.0.3
info:
  description: |-
    Welcome to the API reference overview for the [Stacks Blockchain API](https://docs.hiro.so/stacks-blockchain-api).

          [Download Postman collection](https://hirosystems.github.io/stacks-blockchain-api/collection.json)
  title: Stacks Blockchain API
  version: v8.1.2
externalDocs:
  description: Source Repository
  url: https://github.com/hirosystems/stacks-blockchain-api
servers:
- description: mainnet
  url: https://api.hiro.so/
tags:
- description: Read-only endpoints to obtain Stacks account details
  externalDocs:
    description: Stacks Documentation - Accounts
    url: https://docs.stacks.co/understand-stacks/accounts
  name: Accounts
- description: Read-only endpoints to obtain Stacks block details
  name: Blocks
- description: Read-only endpoints to obtain burn block details
  name: Burn Blocks
- description: Endpoints to request STX or BTC tokens (not possible on Mainnet)
  name: Faucets
- description: Read-only endpoints to obtain fee details
  name: Fees
- description: "Read-only endpoints to obtain network, Proof-of-Transfer, Stacking,\
    \ STX token, and node information"
  name: Info
- description: Read-only endpoints to obtain microblocks details
  externalDocs:
    description: Stacks Documentation - Microblocks
    url: https://docs.stacks.co/understand-stacks/microblocks
  name: Microblocks
- description: Read-only endpoints realted to the Blockchain Naming System on Stacks
  externalDocs:
    description: Stacks Documentation - Blockchain Naming System
    url: https://docs.stacks.co/build-apps/references/bns
  name: Names
- description: Read-only endpoints to obtain non-fungible token details
  externalDocs:
    description: Stacks Documentation - Tokens
    url: https://docs.stacks.co/write-smart-contracts/tokens
  name: Non-Fungible Tokens
- description: Endpoints to support the Rosetta API open blockchain standard
  externalDocs:
    description: Hiro Documentation - Rosetta Support
    url: https://docs.hiro.so/get-started/stacks-blockchain-api#rosetta-support
  name: Rosetta
- description: "Read-only endpoints to search for accounts, blocks, smart contracts,\
    \ and transactions"
  name: Search
- description: Read-only endpoints to obtain Clarity smart contract details
  externalDocs:
    description: Stacks Documentation - Clarity Smart Contracts
    url: https://docs.stacks.co/write-smart-contracts/overview
  name: Smart Contracts
- description: Read-only endpoints to obtain Stacking reward details
  externalDocs:
    description: Stacks Documentation - Stacking
    url: https://docs.stacks.co/understand-stacks/stacking
  name: Stacking Rewards
- description: Endpoints to obtain transaction details and to broadcast transactions
    to the network
  externalDocs:
    description: Hiro Documentation - Transactions
    url: https://docs.hiro.so/get-started/transactions
  name: Transactions
- description: Endpoints to obtain Mempool information
  name: Mempool
- description: Endpoints to get information about the Proof of Transfer consensus
    mechanism
  name: Proof of Transfer
paths:
  /extended:
    get:
      description: "Retrieves the running status of the Stacks Blockchain API, including\
        \ the server version and current chain tip information."
      operationId: get_status
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Status_Response'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: API status
      tags:
      - Info
  /extended/v1/tx/:
    get:
      description: Retrieves all recently mined transactions
      operationId: get_transaction_list
      parameters:
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          items:
            $ref: '#/components/schemas/get_transaction_list_type_parameter_inner'
          type: array
        style: form
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/get_transaction_list_order_parameter'
        style: form
      - description: "Option to sort results by block height, timestamp, or fee"
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          $ref: '#/components/schemas/get_transaction_list_sort_by_parameter'
        style: form
      - description: Option to filter results by sender address
        explode: true
        in: query
        name: from_address
        required: false
        schema:
          type: string
        style: form
      - description: Option to filter results by recipient address
        explode: true
        in: query
        name: to_address
        required: false
        schema:
          type: string
        style: form
      - description: Filter by transactions after this timestamp (unix timestamp in
          seconds)
        example: 1704067200
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by transactions before this timestamp (unix timestamp
          in seconds)
        example: 1706745599
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          type: integer
        style: form
      - description: Option to filter results by contract ID
        example: SP000000000000000000002Q6VF78.pox-4
        explode: true
        in: query
        name: contract_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by contract call transactions involving this function
          name
        example: delegate-stx
        explode: true
        in: query
        name: function_name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by transactions with this nonce
        example: 123
        explode: true
        in: query
        name: nonce
        required: false
        schema:
          maximum: 9007199254740991
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_transaction_list_200_response'
          description: List of transactions
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get recent transactions
      tags:
      - Transactions
  /extended/v1/tx/multiple:
    get:
      description: Retrieves a list of transactions for a given list of transaction
        IDs
      operationId: get_tx_list_details
      parameters:
      - explode: true
        in: query
        name: tx_id
        required: true
        schema:
          items:
            description: Transaction ID
            pattern: "^(0x)?[a-fA-F0-9]{64}$"
            title: Transaction ID
            type: string
          type: array
        style: form
      - description: Results per page
        explode: true
        in: query
        name: event_limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: event_offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/get_tx_list_details_200_response_value'
                type: object
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get list of details for transactions
      tags:
      - Transactions
  /extended/v1/tx/mempool:
    get:
      description: |-
        Retrieves all transactions that have been recently broadcast to the mempool. These are pending transactions awaiting confirmation.

                If you need to monitor new transactions, we highly recommend subscribing to [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client) for real-time updates.
      operationId: get_mempool_transaction_list
      parameters:
      - description: STX Address
        example: SP318Q55DEKHRXJK696033DQN5C54D9K2EE6DHRWP
        explode: true
        in: query
        name: sender_address
        required: false
        schema:
          pattern: "^[0123456789ABCDEFGHJKMNPQRSTVWXYZ]{28,41}"
          title: STX Address
          type: string
        style: form
      - description: STX Address
        example: SP318Q55DEKHRXJK696033DQN5C54D9K2EE6DHRWP
        explode: true
        in: query
        name: recipient_address
        required: false
        schema:
          pattern: "^[0123456789ABCDEFGHJKMNPQRSTVWXYZ]{28,41}"
          title: STX Address
          type: string
        style: form
      - description: STX Address
        example: SP318Q55DEKHRXJK696033DQN5C54D9K2EE6DHRWP
        explode: true
        in: query
        name: address
        required: false
        schema:
          pattern: "^[0123456789ABCDEFGHJKMNPQRSTVWXYZ]{28,41}"
          title: STX Address
          type: string
        style: form
      - description: "Option to sort results by transaction age, size, or fee rate."
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          $ref: '#/components/schemas/Order_By'
        style: form
      - description: Results order
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/Order'
        style: form
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_mempool_transaction_list_200_response'
          description: List of mempool transactions
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get mempool transactions
      tags:
      - Transactions
  /extended/v1/tx/mempool/dropped:
    get:
      description: |-
        Retrieves all recently-broadcast transactions that have been dropped from the mempool.

                Transactions are dropped from the mempool if:
                 * they were stale and awaiting garbage collection or,
                 * were expensive, or
                 * were replaced with a new fee
      operationId: get_dropped_mempool_transaction_list
      parameters:
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_dropped_mempool_transaction_list_200_response'
          description: List of dropped mempool transactions
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get dropped mempool transactions
      tags:
      - Transactions
  /extended/v1/tx/mempool/stats:
    get:
      description: |-
        Queries for transactions counts, age (by block height), fees (simple average), and size.
                All results broken down by transaction type and percentiles (p25, p50, p75, p95).
      operationId: get_mempool_transaction_stats
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MempoolTransactionStatsResponse'
          description: GET request that returns stats on mempool transactions
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get statistics for mempool transactions
      tags:
      - Transactions
  /extended/v1/tx/events:
    get:
      description: |-
        Retrieves the list of events filtered by principal (STX address or Smart Contract ID), transaction id or event types.
                The list of event types is ('smart_contract_log', 'stx_lock', 'stx_asset', 'fungible_token_asset', 'non_fungible_token_asset').
      operationId: get_filtered_events
      parameters:
      - description: Transaction ID
        example: 0xf6bd5f4a7b26184a3466340b2e99fd003b4962c0e382a7e4b6a13df3dd7a91c6
        explode: true
        in: query
        name: tx_id
        required: false
        schema:
          pattern: "^(0x)?[a-fA-F0-9]{64}$"
          title: Transaction ID
          type: string
        style: form
      - explode: true
        in: query
        name: address
        required: false
        schema:
          $ref: '#/components/schemas/get_filtered_events_address_parameter'
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          items:
            $ref: '#/components/schemas/get_filtered_events_type_parameter_inner'
          type: array
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_of_events'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Transaction Events
      tags:
      - Transactions
  /extended/v1/tx/{tx_id}:
    get:
      description: Retrieves transaction details for a given transaction ID
      operationId: get_transaction_by_id
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: event_limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: event_offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Transaction ID
        example: 0xf6bd5f4a7b26184a3466340b2e99fd003b4962c0e382a7e4b6a13df3dd7a91c6
        explode: false
        in: path
        name: tx_id
        required: true
        schema:
          pattern: "^(0x)?[a-fA-F0-9]{64}$"
          title: Transaction ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_transaction_by_id_200_response'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get transaction
      tags:
      - Transactions
  /extended/v1/tx/{tx_id}/raw:
    get:
      description: Retrieves a hex encoded serialized transaction for a given ID
      operationId: get_raw_transaction_by_id
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: event_limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: event_offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Transaction ID
        example: 0xf6bd5f4a7b26184a3466340b2e99fd003b4962c0e382a7e4b6a13df3dd7a91c6
        explode: false
        in: path
        name: tx_id
        required: true
        schema:
          pattern: "^(0x)?[a-fA-F0-9]{64}$"
          title: Transaction ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRawTransactionResult'
          description: GET raw transaction
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get raw transaction
      tags:
      - Transactions
  /extended/v1/tx/block/{block_hash}:
    get:
      deprecated: true
      description: |-
        **NOTE:** This endpoint is deprecated in favor of [Get transactions by block](/api/get-transactions-by-block).

                Retrieves a list of all transactions within a block for a given block hash.
      operationId: get_transactions_by_block_hash
      parameters:
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 200
          minimum: 0
          title: Limit
          type: integer
        style: form
      - explode: false
        in: path
        name: block_hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_transaction_list_200_response'
          description: List of transactions
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Transactions by block hash
      tags:
      - Transactions
  /extended/v1/tx/block_height/{height}:
    get:
      deprecated: true
      description: |-
        **NOTE:** This endpoint is deprecated in favor of [Get transactions by block](/api/get-transactions-by-block).

                Retrieves all transactions within a block at a given height
      operationId: get_transactions_by_block_height
      parameters:
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Block height
        example: 777678
        explode: false
        in: path
        name: height
        required: true
        schema:
          minimum: 0
          title: Block height
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_transaction_list_200_response'
          description: List of transactions
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Transactions by block height
      tags:
      - Transactions
  /extended/v1/stx_supply/:
    get:
      description: "Retrieves the total and unlocked STX supply. More information\
        \ on Stacking can be found [here] (https://docs.stacks.co/understand-stacks/stacking)."
      operationId: get_stx_supply
      parameters:
      - description: "Supply details are queried from specified block height. If the\
          \ block height is not specified, the latest block height is taken as default\
          \ value. Note that the `block height` is referred to the stacks blockchain."
        example: 777678
        explode: true
        in: query
        name: height
        required: false
        schema:
          minimum: 0
          title: Block height
          type: integer
        style: form
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStxSupplyResponse'
          description: GET request that returns network target block times
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get total and unlocked STX supply
      tags:
      - Info
  /extended/v1/stx_supply/total/plain:
    get:
      deprecated: true
      description: Retrieves the total circulating STX token supply as plain text.
      operationId: get_stx_supply_total_supply_plain
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_stx_supply_total_supply_plain_200_response'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get total STX supply in plain text format
      tags:
      - Info
  /extended/v1/stx_supply/circulating/plain:
    get:
      deprecated: true
      description: Retrieves the STX tokens currently in circulation that have been
        unlocked as plain text.
      operationId: get_stx_supply_circulating_plain
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_stx_supply_total_supply_plain_200_response'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get circulating STX supply in plain text format
      tags:
      - Info
  /extended/v1/stx_supply/legacy_format:
    get:
      deprecated: true
      description: Retrieves total supply of STX tokens including those currently
        in circulation that have been unlocked.
      operationId: get_total_stx_supply_legacy_format
      parameters:
      - description: "Supply details are queried from specified block height. If the\
          \ block height is not specified, the latest block height is taken as default\
          \ value. Note that the `block height` is referred to the stacks blockchain."
        example: 777678
        explode: true
        in: query
        name: height
        required: false
        schema:
          minimum: 0
          title: Block height
          type: integer
        style: form
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStxSupplyLegacyFormatResponse'
          description: GET request that returns network target block times
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get total and unlocked STX supply (results formatted the same as the
        legacy 1.0 API)
      tags:
      - Info
  /extended/v1/info/network_block_times:
    get:
      description: Retrieves the target block times for mainnet and testnet. The block
        time is hardcoded and will change throughout the implementation phases of
        the testnet.
      operationId: get_network_block_times
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkBlockTimesResponse'
          description: GET request that returns network target block times
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get the network target block time
      tags:
      - Info
  /extended/v1/info/network_block_time/{network}:
    get:
      description: Retrieves the target block time for a given network. The network
        can be mainnet or testnet. The block time is hardcoded and will change throughout
        the implementation phases of the testnet.
      operationId: get_network_block_time_by_network
      parameters:
      - explode: false
        in: path
        name: network
        required: true
        schema:
          $ref: '#/components/schemas/get_network_block_time_by_network_network_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkBlockTimeResponse'
          description: GET request that target block time for a given network
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get a given network's target block time
      tags:
      - Info
  /extended/v1/tokens/nft/holdings:
    get:
      description: |-
        Retrieves the list of Non-Fungible Tokens owned by the given principal (STX address or Smart Contract ID).
                Results can be filtered by one or more asset identifiers and can include metadata about the transaction that made the principal own each token.

                More information on Non-Fungible Tokens on the Stacks blockchain can be found [here](https://docs.stacks.co/write-smart-contracts/tokens#non-fungible-tokens-nfts).
      operationId: get_nft_holdings
      parameters:
      - explode: true
        in: query
        name: principal
        required: true
        schema:
          $ref: '#/components/schemas/get_filtered_events_address_parameter'
        style: form
      - explode: true
        in: query
        name: asset_identifiers
        required: false
        schema:
          items:
            description: identifiers of the token asset classes to filter for
            type: string
          type: array
        style: form
      - description: max number of tokens to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: index of first tokens to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: whether or not to include the complete transaction metadata instead
          of just `tx_id`. Enabling this option can affect performance and response
          times.
        explode: true
        in: query
        name: tx_metadata
        required: true
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_nft_holdings_200_response'
          description: List of Non-Fungible Token holdings
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Non-Fungible Token holdings
      tags:
      - Non-Fungible Tokens
  /extended/v1/tokens/nft/history:
    get:
      description: |-
        Retrieves all events relevant to a Non-Fungible Token. Useful to determine the ownership history of a particular asset.

                More information on Non-Fungible Tokens on the Stacks blockchain can be found [here](https://docs.stacks.co/write-smart-contracts/tokens#non-fungible-tokens-nfts).
      operationId: get_nft_history
      parameters:
      - description: asset class identifier
        example: SP2X0TZ59D5SZ8ACQ6YMCHHNR2ZN51Z32E2CJ173.the-explorer-guild::The-Explorer-Guild
        explode: true
        in: query
        name: asset_identifier
        required: true
        schema:
          type: string
        style: form
      - description: hex representation of the token's unique value
        example: 0x0100000000000000000000000000000803
        explode: true
        in: query
        name: value
        required: true
        schema:
          type: string
        style: form
      - description: max number of events to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: index of first event to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: whether or not to include the complete transaction metadata instead
          of just `tx_id`. Enabling this option can affect performance and response
          times.
        explode: true
        in: query
        name: tx_metadata
        required: true
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_nft_history_200_response'
          description: List of Non-Fungible Token history events
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Non-Fungible Token history
      tags:
      - Non-Fungible Tokens
  /extended/v1/tokens/nft/mints:
    get:
      description: |-
        Retrieves all mint events for a Non-Fungible Token asset class. Useful to determine which NFTs of a particular collection have been claimed.

                More information on Non-Fungible Tokens on the Stacks blockchain can be found [here](https://docs.stacks.co/write-smart-contracts/tokens#non-fungible-tokens-nfts).
      operationId: get_nft_mints
      parameters:
      - description: asset class identifier
        example: SP2X0TZ59D5SZ8ACQ6YMCHHNR2ZN51Z32E2CJ173.the-explorer-guild::The-Explorer-Guild
        explode: true
        in: query
        name: asset_identifier
        required: true
        schema:
          type: string
        style: form
      - description: max number of events to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: index of first event to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: whether or not to include the complete transaction metadata instead
          of just `tx_id`. Enabling this option can affect performance and response
          times.
        explode: true
        in: query
        name: tx_metadata
        required: true
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonFungibleTokenMintList'
          description: List of Non-Fungible Token mint events for an asset identifier
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Non-Fungible Token mints
      tags:
      - Non-Fungible Tokens
  /extended/v1/tokens/ft/{token}/holders:
    get:
      description: Retrieves the list of Fungible Token holders for a given token
        ID. Specify `stx` for the `token` parameter to get the list of STX holders.
      operationId: get_ft_holders
      parameters:
      - description: max number of holders to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 200
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: index of first holder to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: fungible token identifier
        examples:
          stx:
            value: stx
          SP3Y2ZSH8P7D50B0VBTSX11S7XSG24M1VB9YFQA4K.token-aeusdc::aeUSDC:
            value: SP3Y2ZSH8P7D50B0VBTSX11S7XSG24M1VB9YFQA4K.token-aeusdc::aeUSDC
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_ft_holders_200_response'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Fungible token holders
      tags:
      - Fungible Tokens
  /extended/v1/contract/by_trait:
    get:
      description: "Retrieves a list of contracts based on the following traits listed\
        \ in JSON format -  functions, variables, maps, fungible tokens and non-fungible\
        \ tokens"
      operationId: get_contracts_by_trait
      parameters:
      - description: JSON abi of the trait.
        explode: true
        in: query
        name: trait_abi
        required: true
        schema:
          type: string
        style: form
      - description: max number of contracts fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: index of first contract event to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractListResponse'
          description: GET list of contracts
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get contracts by trait
      tags:
      - Smart Contracts
  /extended/v1/contract/{contract_id}:
    get:
      description: Retrieves details of a contract with a given `contract_id`
      operationId: get_contract_by_id
      parameters:
      - description: Contract identifier formatted as `<contract_address>.<contract_name>`
        example: SP6P4EJF0VG8V0RB3TQQKJBHDQKEF6NVRD1KZE3C.satoshibles
        explode: false
        in: path
        name: contract_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartContract'
          description: A Smart Contract Detail
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get contract info
      tags:
      - Smart Contracts
  /extended/v1/contract/{contract_id}/events:
    get:
      description: Retrieves a list of events that have been triggered by a given
        `contract_id`
      operationId: get_contract_events_by_id
      parameters:
      - description: max number of events to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Contract identifier formatted as `<contract_address>.<contract_name>`
        example: SP6P4EJF0VG8V0RB3TQQKJBHDQKEF6NVRD1KZE3C.satoshibles
        explode: false
        in: path
        name: contract_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_contract_events_by_id_200_response'
          description: List of events
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get contract events
      tags:
      - Smart Contracts
  /extended/v1/fee_rate/:
    post:
      deprecated: true
      description: |-
        **NOTE:** This endpoint is deprecated in favor of [Get approximate fees for a given transaction](/api/get-approximate-fees-for-a-given-transaction).

                Retrieves estimated fee rate.
      operationId: fetch_fee_rate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeeRateRequest'
        description: Request to fetch fee for a transaction
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeRate'
          description: Get fee rate information.
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Fetch fee rate
      tags:
      - Fees
  /extended/v1/microblock/:
    get:
      description: |-
        Retrieves a list of microblocks.

                  If you need to actively monitor new microblocks, we highly recommend subscribing to [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client) for real-time updates.
      operationId: get_microblock_list
      parameters:
      - description: Max number of microblocks to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 200
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroblockListResponse'
          description: GET request that returns microblocks
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get recent microblocks
      tags:
      - Microblocks
  /extended/v1/microblock/{hash}:
    get:
      description: Retrieves a specific microblock by `hash`
      operationId: get_microblock_by_hash
      parameters:
      - description: Hash of the microblock
        example: 0x3bfcdf84b3012adb544cf0f6df4835f93418c2269a3881885e27b3d58eb82d47
        explode: false
        in: path
        name: hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microblock'
          description: A microblock
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get microblock
      tags:
      - Microblocks
  /extended/v1/microblock/unanchored/txs:
    get:
      description: Retrieves transactions that have been streamed in microblocks but
        not yet accepted or rejected in an anchor block
      operationId: get_unanchored_txs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_unanchored_txs_200_response'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get the list of current transactions that belong to unanchored microblocks
      tags:
      - Microblocks
  /extended/v1/block/:
    get:
      deprecated: true
      description: |-
        **NOTE:** This endpoint is deprecated in favor of [Get blocks](/api/get-blocks).

                  Retrieves a list of recently mined blocks

                  If you need to actively monitor new blocks, we highly recommend subscribing to [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client) for real-time updates.
      operationId: get_block_list
      parameters:
      - description: max number of blocks to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 30
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockListResponse'
          description: GET request that returns blocks
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get recent blocks
      tags:
      - Blocks
  /extended/v1/block/by_height/{height}:
    get:
      deprecated: true
      description: |-
        **NOTE:** This endpoint is deprecated in favor of [Get block](/api/get-block).

                Retrieves block details of a specific block at a given block height
      operationId: get_block_by_height
      parameters:
      - description: Height of the block
        example: 10000
        explode: false
        in: path
        name: height
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
          description: A block
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get block by height
      tags:
      - Blocks
  /extended/v1/block/by_burn_block_height/{burn_block_height}:
    get:
      deprecated: true
      description: |-
        **NOTE:** This endpoint is deprecated in favor of [Get blocks](/api/get-blocks).

                Retrieves block details of a specific block for a given burn chain height
      operationId: get_block_by_burn_block_height
      parameters:
      - description: Height of the burn chain block
        example: 744603
        explode: false
        in: path
        name: burn_block_height
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
          description: A block
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get block by burnchain height
      tags:
      - Blocks
  /extended/v1/block/{hash}:
    get:
      deprecated: true
      description: "**NOTE:** This endpoint is deprecated in favor of [Get block](/api/get-block).\n\
        \        \n        Retrieves block details of a specific block for a given\
        \ chain height. You can use the hash from your latest block ('get_block_list'\
        \ API) to get your block details."
      operationId: get_block_by_hash
      parameters:
      - description: Hash of the block
        example: 0x4839a8b01cfb39ffcc0d07d3db31e848d5adf5279d529ed5062300b9f353ff79
        explode: false
        in: path
        name: hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
          description: A block
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get block by hash
      tags:
      - Blocks
  /extended/v1/block/by_burn_block_hash/{burn_block_hash}:
    get:
      deprecated: true
      description: |-
        **NOTE:** This endpoint is deprecated in favor of [Get blocks](/api/get-blocks).

                Retrieves block details of a specific block for a given burnchain block hash
      operationId: get_block_by_burn_block_hash
      parameters:
      - description: Hash of the burnchain block
        example: 0x00000000000000000002bba732926cf68b6eda3e2cdbc2a85af79f10efeeeb10
        explode: false
        in: path
        name: burn_block_hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
          description: A block
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get block by burnchain block hash
      tags:
      - Blocks
  /extended/v1/burnchain/reward_slot_holders:
    get:
      description: Retrieves a list of the Bitcoin addresses that would validly receive
        Proof-of-Transfer commitments.
      operationId: get_burnchain_reward_slot_holders
      parameters:
      - description: max number of items to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 96
          maximum: 250
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_of_burnchain_reward_recipients_and_amounts'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get recent reward slot holders
      tags:
      - Stacking Rewards
  /extended/v1/burnchain/reward_slot_holders/{address}:
    get:
      description: Retrieves a list of the Bitcoin addresses that would validly receive
        Proof-of-Transfer commitments for a given reward slot holder recipient address.
      operationId: get_burnchain_reward_slot_holders_by_address
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 96
          maximum: 250
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: "Reward slot holder recipient address. Should either be in the\
          \ native burnchain's format (e.g. B58 for Bitcoin), or if a STX principal\
          \ address is provided it will be encoded as into the equivalent burnchain\
          \ format"
        example: 36hQtSEXBMevo5chpxhfAGiCTSC34QKgda
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BurnchainRewardSlotHolderListResponse'
          description: List of burnchain reward recipients and amounts
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get recent reward slot holder entries for the given address
      tags:
      - Stacking Rewards
  /extended/v1/burnchain/rewards:
    get:
      description: Retrieves a list of recent burnchain (e.g. Bitcoin) reward recipients
        with the associated amounts and block info
      operationId: get_burnchain_reward_list
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 96
          maximum: 250
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_burnchain_reward_list_200_response'
          description: List of burnchain reward recipients and amounts
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get recent burnchain reward recipients
      tags:
      - Stacking Rewards
  /extended/v1/burnchain/rewards/{address}:
    get:
      description: Retrieves a list of recent burnchain (e.g. Bitcoin) rewards for
        the given recipient with the associated amounts and block info
      operationId: get_burnchain_reward_list_by_address
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 96
          maximum: 250
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: "Reward recipient address. Should either be in the native burnchain's\
          \ format (e.g. B58 for Bitcoin), or if a STX principal address is provided\
          \ it will be encoded as into the equivalent burnchain format"
        example: 36hQtSEXBMevo5chpxhfAGiCTSC34QKgda
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_burnchain_reward_list_200_response'
          description: List of burnchain reward recipients and amounts
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get recent burnchain reward for the given recipient
      tags:
      - Stacking Rewards
  /extended/v1/burnchain/rewards/{address}/total:
    get:
      description: Retrieves the total burnchain (e.g. Bitcoin) rewards for a given
        recipient `address`
      operationId: get_burnchain_rewards_total_by_address
      parameters:
      - description: "Reward recipient address. Should either be in the native burnchain's\
          \ format (e.g. B58 for Bitcoin), or if a STX principal address is provided\
          \ it will be encoded as into the equivalent burnchain format"
        example: 36hQtSEXBMevo5chpxhfAGiCTSC34QKgda
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BurnchainRewardsTotal'
          description: Total burnchain rewards made to a recipient
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get total burnchain rewards for the given recipient
      tags:
      - Stacking Rewards
  /extended/v1/address/{principal}/stx:
    get:
      description: Retrieves STX token balance for a given Address or Contract Identifier.
      operationId: get_account_stx_balance
      parameters:
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Block hash or block height. Return data representing the state\
          \ up until that point in time, rather than the current block. Note - Use\
          \ either of the query parameters but not both at a time."
        examples:
          "60000":
            value: "60000"
          "0x4839a8b01cfb39ffcc0d07d3db31e848d5adf5279d529ed5062300b9f353ff79":
            value: 0x4839a8b01cfb39ffcc0d07d3db31e848d5adf5279d529ed5062300b9f353ff79
        explode: true
        in: query
        name: until_block
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: principal
        required: true
        schema:
          $ref: '#/components/schemas/get_filtered_events_address_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressStxBalance'
          description: GET request that returns address balances
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get account STX balance
      tags:
      - Accounts
  /extended/v1/address/{principal}/balances:
    get:
      description: "Retrieves total account balance information for a given Address\
        \ or Contract Identifier. This includes the balances of STX Tokens, Fungible\
        \ Tokens and Non-Fungible Tokens for the account."
      operationId: get_account_balance
      parameters:
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Block hash or block height. Return data representing the state\
          \ up until that point in time, rather than the current block. Note - Use\
          \ either of the query parameters but not both at a time."
        examples:
          "60000":
            value: "60000"
          "0x4839a8b01cfb39ffcc0d07d3db31e848d5adf5279d529ed5062300b9f353ff79":
            value: 0x4839a8b01cfb39ffcc0d07d3db31e848d5adf5279d529ed5062300b9f353ff79
        explode: true
        in: query
        name: until_block
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: principal
        required: true
        schema:
          $ref: '#/components/schemas/get_filtered_events_address_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressBalanceResponse'
          description: GET request that returns address balances
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get account balances
      tags:
      - Accounts
  /extended/v1/address/{principal}/transactions:
    get:
      deprecated: true
      description: |-
        **NOTE:** This endpoint is deprecated in favor of [Get address transactions](/api/get-address-transactions).

                Retrieves a list of all Transactions for a given Address or Contract Identifier. More information on Transaction types can be found [here](https://docs.stacks.co/understand-stacks/transactions#types).

                If you need to actively monitor new transactions for an address or contract id, we highly recommend subscribing to [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client) for real-time updates.
      operationId: get_account_transactions
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Filter for transactions only at this given block height
        explode: true
        in: query
        name: height
        required: false
        schema:
          type: integer
        style: form
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Block hash or block height. Return data representing the state\
          \ up until that point in time, rather than the current block. Note - Use\
          \ either of the query parameters but not both at a time."
        examples:
          "60000":
            value: "60000"
          "0x4839a8b01cfb39ffcc0d07d3db31e848d5adf5279d529ed5062300b9f353ff79":
            value: 0x4839a8b01cfb39ffcc0d07d3db31e848d5adf5279d529ed5062300b9f353ff79
        explode: true
        in: query
        name: until_block
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: principal
        required: true
        schema:
          $ref: '#/components/schemas/get_filtered_events_address_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressTransactionsListResponse'
          description: GET request that returns account transactions
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get account transactions
      tags:
      - Accounts
  /extended/v1/address/{principal}/{tx_id}/with_transfers:
    get:
      deprecated: true
      description: |-
        **NOTE:** This endpoint is deprecated in favor of [Get events for an address transaction](/api/get-address-transaction-events).

                Retrieves transaction details for a given Transaction Id `tx_id`, for a given account or contract Identifier.
      operationId: get_single_transaction_with_transfers
      parameters:
      - explode: false
        in: path
        name: principal
        required: true
        schema:
          $ref: '#/components/schemas/get_filtered_events_address_parameter'
        style: simple
      - description: Transaction ID
        example: 0x34d79c7cfc2fe525438736733e501a4bf0308a5556e3e080d1e2c0858aad7448
        explode: false
        in: path
        name: tx_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressTransactionWithTransfers'
          description: Transaction with STX transfers for a given address
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get account transaction information for specific transaction
      tags:
      - Accounts
  /extended/v1/address/{principal}/transactions_with_transfers:
    get:
      deprecated: true
      description: Retrieve all transactions for an account or contract identifier
        including STX transfers for each transaction.
      operationId: get_account_transactions_with_transfers
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Filter for transactions only at this given block height
        explode: true
        in: query
        name: height
        required: false
        schema:
          type: integer
        style: form
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Block hash or block height. Return data representing the state\
          \ up until that point in time, rather than the current block. Note - Use\
          \ either of the query parameters but not both at a time."
        examples:
          "60000":
            value: "60000"
          "0x4839a8b01cfb39ffcc0d07d3db31e848d5adf5279d529ed5062300b9f353ff79":
            value: 0x4839a8b01cfb39ffcc0d07d3db31e848d5adf5279d529ed5062300b9f353ff79
        explode: true
        in: query
        name: until_block
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: principal
        required: true
        schema:
          $ref: '#/components/schemas/get_filtered_events_address_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressTransactionsWithTransfersListResponse'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get account transactions including STX transfers for each transaction.
      tags:
      - Accounts
  /extended/v1/address/{principal}/assets:
    get:
      description: "Retrieves a list of all assets events associated with an account\
        \ or a Contract Identifier. This includes Transfers, Mints."
      operationId: get_account_assets
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Block hash or block height. Return data representing the state\
          \ up until that point in time, rather than the current block. Note - Use\
          \ either of the query parameters but not both at a time."
        examples:
          "60000":
            value: "60000"
          "0x4839a8b01cfb39ffcc0d07d3db31e848d5adf5279d529ed5062300b9f353ff79":
            value: 0x4839a8b01cfb39ffcc0d07d3db31e848d5adf5279d529ed5062300b9f353ff79
        explode: true
        in: query
        name: until_block
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: principal
        required: true
        schema:
          $ref: '#/components/schemas/get_filtered_events_address_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressAssetsListResponse'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get account assets
      tags:
      - Accounts
  /extended/v1/address/{principal}/stx_inbound:
    get:
      description: |-
        Retrieves a list of STX transfers with memos to the given principal. This includes regular transfers from a stx-transfer transaction type,
                and transfers from contract-call transactions a the `send-many-memo` bulk sending contract.
      operationId: get_account_inbound
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Filter for transactions only at this given block height
        explode: true
        in: query
        name: height
        required: false
        schema:
          type: integer
        style: form
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Block hash or block height. Return data representing the state\
          \ up until that point in time, rather than the current block. Note - Use\
          \ either of the query parameters but not both at a time."
        examples:
          "60000":
            value: "60000"
          "0x4839a8b01cfb39ffcc0d07d3db31e848d5adf5279d529ed5062300b9f353ff79":
            value: 0x4839a8b01cfb39ffcc0d07d3db31e848d5adf5279d529ed5062300b9f353ff79
        explode: true
        in: query
        name: until_block
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: principal
        required: true
        schema:
          $ref: '#/components/schemas/get_filtered_events_address_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressStxInboundListResponse'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get inbound STX transfers
      tags:
      - Accounts
  /extended/v1/address/{principal}/mempool:
    get:
      description: Retrieves all transactions for a given address that are currently
        in mempool
      operationId: get_address_mempool_transactions
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: false
        in: path
        name: principal
        required: true
        schema:
          $ref: '#/components/schemas/get_filtered_events_address_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_mempool_transaction_list_200_response'
          description: List of mempool transactions
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Transactions for address
      tags:
      - Transactions
  /extended/v1/address/{principal}/nonces:
    get:
      description: "Retrieves the latest nonce values used by an account by inspecting\
        \ the mempool, microblock transactions, and anchored transactions."
      operationId: get_account_nonces
      parameters:
      - description: Optionally get the nonce at a given block height.
        example: 66119
        explode: true
        in: query
        name: block_height
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: Optionally get the nonce at a given block hash. Note - Use either
          of the query parameters but not both at a time.
        example: 0x72d53f3cba39e149dcd42708e535bdae03d73e60d2fe853aaf61c0b392f521e9
        explode: true
        in: query
        name: block_hash
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: principal
        required: true
        schema:
          $ref: '#/components/schemas/get_filtered_events_address_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressNonces'
          description: "The latest nonce values used by an account by inspecting the\
            \ mempool, microblock transactions, and anchored transactions"
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get the latest nonce used by an account
      tags:
      - Accounts
  /extended/v1/search/{id}:
    get:
      description: "Search blocks, transactions, contracts, or accounts by hash/ID"
      operationId: search_by_id
      parameters:
      - description: This includes the detailed data for purticular hash in the response
        explode: true
        in: query
        name: include_metadata
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "The hex hash string for a block or transaction, account address,\
          \ or contract address"
        example: 0xcf8b233f19f6c07d2dc1963302d2436efd36e9afac127bf6582824a13961c06d
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search_by_id_200_response'
          description: Default Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search_by_id_404_response'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Search
      tags:
      - Search
  /extended/v1/{pox}/events:
    get:
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 96
          maximum: 200
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - explode: false
        in: path
        name: pox
        required: true
        schema:
          $ref: '#/components/schemas/_extended_v1__pox__events_get_pox_parameter'
        style: simple
      responses:
        "200":
          description: Default Response
      summary: Get latest PoX events
      tags:
      - Stacking
  /extended/v1/{pox}/tx/{tx_id}:
    get:
      parameters:
      - explode: false
        in: path
        name: pox
        required: true
        schema:
          $ref: '#/components/schemas/_extended_v1__pox__events_get_pox_parameter'
        style: simple
      - explode: false
        in: path
        name: tx_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Default Response
      summary: Get PoX events for a transaction
      tags:
      - Stacking
  /extended/v1/{pox}/stacker/{principal}:
    get:
      parameters:
      - explode: false
        in: path
        name: pox
        required: true
        schema:
          $ref: '#/components/schemas/_extended_v1__pox__events_get_pox_parameter'
        style: simple
      - explode: false
        in: path
        name: principal
        required: true
        schema:
          $ref: '#/components/schemas/get_filtered_events_address_parameter'
        style: simple
      responses:
        "200":
          description: Default Response
      summary: Get events for a stacking address
      tags:
      - Stacking
  /extended/v1/{pox}/{pool_principal}/delegations:
    get:
      description: Retrieves the list of stacking pool members for a given delegator
        principal.
      operationId: get_pool_delegations
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 200
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: "If specified, only delegation events after the given block will\
          \ be included"
        explode: true
        in: query
        name: after_block
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: height
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: Include data from unanchored (i.e. unconfirmed) microblocks
        example: true
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: false
        in: path
        name: pox
        required: true
        schema:
          $ref: '#/components/schemas/_extended_v1__pox__events_get_pox_parameter'
        style: simple
      - description: Address principal of the stacking pool delegator
        example: SPSCWDV3RKV5ZRN1FQD84YE1NQFEDJ9R1F4DYQ11
        explode: false
        in: path
        name: pool_principal
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_pool_delegations_200_response'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Stacking pool members
      tags:
      - Stacking
  /extended/v1/faucets/btc:
    post:
      description: |-
        Add 1 BTC token to the specified testnet BTC address.

                The endpoint returns the transaction ID, which you can use to view the transaction in a testnet Bitcoin block
                explorer. The tokens are delivered once the transaction has been included in a block.

                **Note:** This is a testnet only endpoint. This endpoint will not work on the mainnet.
      operationId: run_faucet_btc
      parameters:
      - description: A valid testnet BTC address
        example: 2N4M94S1ZPt8HfxydXzL2P7qyzgVq7MHWts
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/run_faucet_btc_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunFaucetResponse'
          description: POST request that initiates a transfer of tokens to a specified
            testnet address
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/run_faucet_btc_4XX_response'
          description: Default Response
      summary: Add testnet BTC tokens to address
      tags:
      - Faucets
  /extended/v1/faucets/btc/{address}:
    get:
      operationId: get_btc_balance
      parameters:
      - description: A valid testnet BTC address
        example: 2N4M94S1ZPt8HfxydXzL2P7qyzgVq7MHWts
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_btc_balance_200_response'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/run_faucet_btc_4XX_response'
          description: Default Response
      summary: Get BTC balance for address
      tags:
      - Faucets
  /extended/v1/faucets/stx:
    post:
      description: |-
        Add 500 STX tokens to the specified testnet address. Testnet STX addresses begin with `ST`. If the `stacking`
                parameter is set to `true`, the faucet will add the required number of tokens for individual stacking to the
                specified testnet address.

                The endpoint returns the transaction ID, which you can use to view the transaction in the
                [Stacks Explorer](https://explorer.hiro.so/?chain=testnet). The tokens are delivered once the transaction has
                been included in an anchor block.

                A common reason for failed faucet transactions is that the faucet has run out of tokens. If you are experiencing
                failed faucet transactions to a testnet address, you can get help in [Discord](https://stacks.chat).

                **Note:** This is a testnet only endpoint. This endpoint will not work on the mainnet.
      operationId: run_faucet_stx
      parameters:
      - description: A valid testnet STX address
        example: ST3M7N9Q9HDRM7RVP1Q26P0EE69358PZZAZD7KMXQ
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - description: Request the amount of STX tokens needed for individual address
          stacking
        explode: true
        in: query
        name: stacking
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/run_faucet_stx_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunFaucetResponse_1'
          description: POST request that initiates a transfer of tokens to a specified
            testnet address
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/run_faucet_stx_4XX_response'
          description: Default Response
      summary: Get STX testnet tokens
      tags:
      - Faucets
  /extended/v2/blocks/:
    get:
      description: Retrieves a list of recently mined blocks
      operationId: get_blocks
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 30
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          maximum: 300
          minimum: -300
          title: Offset
          type: integer
        style: form
      - description: Cursor for pagination
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_blocks_200_response'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get blocks
      tags:
      - Blocks
  /extended/v2/blocks/average-times:
    get:
      description: Retrieves average block times (in seconds)
      operationId: get_average_block_times
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_average_block_times_200_response'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get average block times
      tags:
      - Blocks
  /extended/v2/blocks/{height_or_hash}:
    get:
      description: Retrieves a single block
      operationId: get_block
      parameters:
      - explode: false
        in: path
        name: height_or_hash
        required: true
        schema:
          $ref: '#/components/schemas/get_block_height_or_hash_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_blocks_200_response_results_inner'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get block
      tags:
      - Blocks
  /extended/v2/blocks/{height_or_hash}/transactions:
    get:
      description: Retrieves transactions confirmed in a single block
      operationId: get_transactions_by_block
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - explode: false
        in: path
        name: height_or_hash
        required: true
        schema:
          $ref: '#/components/schemas/get_block_height_or_hash_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_transactions_by_block_200_response'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get transactions by block
      tags:
      - Transactions
  /extended/v2/blocks/{height_or_hash}/signer-signatures:
    get:
      description: Retrieves the signer signatures (an array of signature byte strings)
        in a single block
      operationId: get_signer_signatures_for_block
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 500
          maximum: 1000
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - explode: false
        in: path
        name: height_or_hash
        required: true
        schema:
          $ref: '#/components/schemas/get_block_height_or_hash_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_signer_signatures_for_block_200_response'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get signer signatures for block
      tags:
      - Blocks
  /extended/v2/burn-blocks/:
    get:
      description: Retrieves a list of recent burn blocks
      operationId: get_burn_blocks
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 30
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_burn_blocks_200_response'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get burn blocks
      tags:
      - Burn Blocks
  /extended/v2/burn-blocks/{height_or_hash}:
    get:
      description: Retrieves a single burn block
      operationId: get_burn_block
      parameters:
      - explode: false
        in: path
        name: height_or_hash
        required: true
        schema:
          $ref: '#/components/schemas/get_burn_block_height_or_hash_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_burn_blocks_200_response_results_inner'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get burn block
      tags:
      - Burn Blocks
  /extended/v2/burn-blocks/{height_or_hash}/blocks:
    get:
      description: Retrieves a list of blocks confirmed by a specific burn block
      operationId: get_blocks_by_burn_block
      parameters:
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 30
          minimum: 0
          title: Limit
          type: integer
        style: form
      - description: Result offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - explode: false
        in: path
        name: height_or_hash
        required: true
        schema:
          $ref: '#/components/schemas/get_burn_block_height_or_hash_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_blocks_by_burn_block_200_response'
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_Response'
          description: Default Response
      summary: Get blocks by burn block
      tags:
[...]
